/* fonts */
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  }

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* common */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Muller', sans-serif;
  background-color: var(--grey-color);
}

h2, h3 {
  margin: 0;
}

.site-btn {
  padding: 13px 20px 9px 19px;
  color: var(--orange-color);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #333333;
  --grey-color: #E5E5E5;
  --dark-grey: #666666;
  --orange-color: #CC9933;
  --etc-color: #FFCC66;
  --text-black: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-link {
  color: var(--orange-color);
}

.container {
  width: 1170px;
  margin: auto;
  padding: auto;
}

/* header*/
.header-top {
  display: flex;
  padding: 30px 0 27px;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
}

.header__number {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-grey);
}

.header__login {
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 12px 45px;
  border-radius: 15px;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav-right {
  padding: 14px 45px;
}

.header-nav__link {
  color: var(--dark-grey);
}

.header-nav__item:not(:last-child) {
  margin-right: 45px;
}

.header__btn:first-child {
  margin-right: 35px;
}

.header__inner {
  padding-left: 57px;
  border-left: solid 1px #E1E1E1;
}

/* special */

.special {
  padding-top: 70px;
}

.special-content {
  display: flex;
}

.section-name {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-left: 41px;
  margin-bottom: 0;
  color: var(--black-color);
}

.special-content__left,
.special-content__right {
  width: 48%;
  height: 540px;
}

.special-article {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.special-content__left > .special-article {
  height: 258px;
  border-radius: 15px;
}

.special-content__right > .special-article {
  border-radius: 15px;
}

.special-content__right {
  margin-left: 23px;
}

.special-content__left > .special-article:first-child {
  margin-bottom: 23px;
}

.special__title {
  margin-bottom: 20px;
}

.special-content__left > .special-article .card-small-name {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white-color);
}

.card-small-price {
  display: block;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 47px;
  font-size: 20px;
  color: var(--white-color);
  opacity: 0.8;
}

.etc {
  background-image: url(../img/arrow_1.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 15px;
  margin-left: 40px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--etc-color);
}

.card-small-name {
  padding-left: 40px;
  padding-top: 40px;
}

.card-big-name {
  padding-left: 45px;
  padding-top: 212px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white-color);
}

.card-big-price {
  margin-left: 45px;
  margin-top: 15px;
  display: block;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  opacity: 0.8;
  color: var(--white-color);
}

/* About Us */

.about-us {
  padding-top: 70px;
}


.text {
  margin-top: 0;
  margin-bottom: 70px;
  max-width: 888px;
  font-size: 16px;
  line-height: 200%;
  color: var(--text-black);
  

}

/*
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--text-black);
} */

.about-us__title {
  padding-bottom: 20px;
}

/* Service */

.service-name {
  margin-bottom: 20px;
}