/* fonts */
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  }

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* common */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Muller', sans-serif;
  background-color: var(--grey-color);
}

.site-btn {
  padding: 13px 20px;
  color: var(--orange-color);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #333333;
  --grey-color: #E5E5E5;
  --dark-grey: #666666;
  --orange-color: #CC9933;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-link {
  color: var(--orange-color);
}

.container {
  width: 1170px;
  margin: auto;
  padding: auto;
}

/* header*/
.header-top {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
}

.header__number {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-grey);
}

.header__login {
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 14px 45px;
  border-radius: 15px;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav-right {
  padding: 14px 45px;
}

.header-nav__link {
  color: var(--dark-grey);
}

.header-nav__item:not(:last-child) {
  margin-right: 45px;
}

